<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DocDocs</title>

  <link rel="stylesheet" type="text/css" href="/css/billing.css">
  <link rel="stylesheet" type="text/css" href="/css/conditions.css">
  <link rel="stylesheet" type="text/css" href="/css/create-account.css">
  <link rel="stylesheet" type="text/css" href="/css/frame-2.css">
  <link rel="stylesheet" type="text/css" href="/css/globals.css">
  <link rel="stylesheet" type="text/css" href="/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="/css/medications.css">
  <link rel="stylesheet" type="text/css" href="/css/patients.css">
  <link rel="stylesheet" type="text/css" href="/css/sign-in-page.css">
  <link rel="stylesheet" type="text/css" href="/css/styleguide.css">
</head>

<body>
{{{body}}}
</body>

</html>