


    <div class="wrappermain">
    <div class="wrapper">
    <input type="hidden" id="anPageName" name="page" value="billing" />
       
        <h1 class="title valign-text-middle inter-medium-orient-40px">Billing</h1>
        
            <form class="form" id="signin-form">
            
            <div class="input-with-label">
              <input 
                
                  class="input"
                  id="patient-search"
                  name="patient"
                  placeholder="Search Patient"
                
                />
                
                <button class="btn btn-primary my-1" type="submit" id="signin-form">Search for Patients</button>
              </div>
            
         
          </form>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
