


    <div class="wrappermain">
    <div class="wrapper">
    
       
        <h1>Billing</h1>
        
            <form class="form">
            
            <div class="input">
              <div class="mb3">
                <input 
                
                  class="form-control"
                  id="patient-search"
                  name="patient"
                  placeholder="Search Patient"
                
                />
              </div>
            </div>
                
                <button class="btn btn-primary my-1" type="submit" id="search-billing">Search for Patients</button>
              
            
         
          </form>
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
