

    <div class="wrappermain">
        <div class="wrapper">
        <form class="form" id="signin-form">
        <div class="rectangle-5"></div>
        <div class="input-with-label">
          <input 
                
                  class="input"
                  id="condition-search-name"
                  name="condition"
                  placeholder="Enter Condition Here"
                
                />
          
          <button class="btn btn-primary my-1" type="submit" id="condition-search">Conditions Search</button>
        </div>
    
        </form>

        <form class="form" id="signin-form">
            
          
          
            <div class="input">
              <input 
                
                  class="input"
                  id="condition-name"
                  name="conditions"
                  placeholder="Condition Name"
                  type="text"
                
                />
              <input 
                
                  class="input"
                  id="condition-description"
                  name="condition-description"
                  placeholder="Description"
                  type="text"
                  
                
                />
                
            <div class="input">
              <input 
                
                  class="input"
                  id="symptom-type"
                  name="symptom"
                  placeholder="Symptoms"
                  type="text"
                
                />
              
            </div>
          
          
            <div class="input">
              <input 
                
                  class="input"
                  id="treatment-name"
                  name="treatment"
                  placeholder="Treatment"
                  type="text"
                
                />
              </div>
            
          <button class="btn btn-primary my-1" type="submit" id="create-condition">Create Condition</button>

          {{!-- Add to patient --}}

          </form>
          
                </form>
                 <form class="form" id="signin-form">
        
        
        <div class="input-dropdown">
          <div class="input-with-label">
            
            <input
          class="input"
                  id="condition-name"
                  name="condition-name"
                  placeholder="Condition Name"
                  type="text"
            
            />
            </div>
            </div>

            
        <div class="input-dropdown">
          <div class="input-with-label">
            
            <input
          class="input"
                  id="patient-name"
                  name="patient-name"
                  placeholder="Patient Name"
                  type="text"
            
            />
              </div>
              </div>
               
                <button class="btn btn-primary my-1" type="submit" id="signin-form">Add to Patient</button>
  </body>
</html>
