

    <div class="wrappermain">
      <div class="wrapper">
          <form class="form" >
        
            <div class="input">
              <div class="mb3">
          
                <input 
                
                  class="form-control"
                  id="condition-search-name"
                  name="condition"
                  placeholder="Enter Condition"
                
                />
              </div>
            </div>
          
              <button class="btn btn-primary my-1" type="submit" id="condition-search">Conditions Search</button>
            
    
          </form>

          <form class="form">
            
            <div class="input">
              <div class="mb3">

                <input 
                
                  class="form-control"
                  id="condition-name"
                  name="conditions"
                  placeholder="Condition Name"
                  type="text"
                
                />
              </div>
            </div>
              
              <div class="input">
                <div class="mb3">
                  <input
                
                    class="form-control"
                    id="condition-description"
                    name="condition-description"
                    placeholder="Description"
                    type="text"
                  
                
                  />
                </div>
              </div>
                
              <div class="input">
                <div class="mb3">
              
                  <input 
                
                    class="form-control"
                    id="symptom-type"
                    name="symptom"
                    placeholder="Symptoms"
                    type="text"
                
                  />
                </div>
              </div>
          
          
              <div class="input">
                <div class="mb3">
                <input 
                
                    class="form-control"
                    id="treatment-name"
                    name="treatment"
                    placeholder="Treatment"
                    type="text"
                
                  />
                </div>
              </div>
            
            <button class="btn btn-primary my-1" type="submit" id="create-condition">Create Condition</button>
          </form>


          {{!-- Add to patient --}}
        
          
          </form>
          <form class="form">
        
        
            <div class="input">
            <div class="mb3">
            
                <input
                  class="form-control"
                  id="condition-name"
                  name="condition-name"
                  placeholder="Condition Name"
                  type="text"
            
                />
            </div>
            </div>

            
            <div class="input">
              <div class="mb3">
            
                <input
                  class="form-control"
                  id="patient-name"
                  name="patient-name"
                  placeholder="Patient Name"
                  type="text"
            
                />
              </div>
            </div>
               
              <button class="btn btn-primary my-1" type="submit" id="condition-to-patient">Add to Patient</button>
          </form>
      </div>
    </div>
  </body>
</html>
