

    <nav>
          <a href="sign-in-page">
            <div class="button-primary-with-icon">
              
                <div class="button-name" id="navbar">Log Out</div>
              </div>
            </a
          ></nav>
    <div class="wrappermain">
        <div class="wrapper">
        <form class="form" id="signin-form">
        <div class="rectangle-5"></div>
        <div class="input-with-label">
          <input 
                
                  class="input"
                  id="condition-search"
                  name="condition"
                  placeholder="Enter condition here"
                
                />
          
          <button class="button-name valign-text-middle" type="submit" id="signin-form">Search for conditions</button>
        </div>
    
        </form>

        <form class="form" id="signin-form">
            
            <div class="input">
              <input 
                
                  class="input"
                  id="condition-name"
                  name="conditions"
                  placeholder="Conditions"
                  type="text"
                
                />
              </div>
            
          
          
            <div class="input">
              <input 
                
                  class="input"
                  id="condition-description"
                  name="condition-description"
                  placeholder="Description"
                  type="text"
                  
                
                />
                
            <div class="input">
              <input 
                
                  class="input"
                  id="symptom-type"
                  name="symptom"
                  placeholder="Symptoms"
                  type="text"
                
                />
              </div>
            </div>
          
          
            <div class="input">
              <input 
                
                  class="input"
                  id="treatment-name"
                  name="treatment"
                  placeholder="Treatment"
                  type="text"
                
                />
              </div>
            
          <button class="button-name" type="submit" id="signup-form">Create Patient</button>

          {{!-- Add to patient --}}

          </form>
           <form class="form" id="signin-form">
        
        
        <div class="input-dropdown">
          <div class="input-with-label">
            
            <input
          class="input"
                  id="condition-name"
                  name="condition-name"
                  placeholder="Condition name"
                  type="text"
            
            />
            
        <div class="input-dropdown">
          <div class="input-with-label">
            
            <input
          class="input"
                  id="patient-name"
                  name="patient-name"
                  placeholder="Patient name"
                  type="text"
            
            />
              
               
                <button class="button-name" type="submit" id="signin-form">Add to Patient</button>
  </body>
</html>
