<div class="wrappermain">
  <div class="wrapper">
    <a href="patients"><span class="material-symbols-outlined">
        patient_list
      </span>
      Patients
    </a>
    <a href="conditions"><span class="material-symbols-outlined">
        conditions
      </span>
      Conditions
    </a>
    <a href="medications"><span class="material-symbols-outlined">
        medication
      </span>
      Medications
    </a>
    <a href="invoice"><span class="material-symbols-outlined">
        request_quote
      </span>
      Billing
    </a>
  </div>
</div>