
       <nav>
          <a href="sign-in-page">
            <div class="button-primary-with-icon">
              
                <div class="button-name" id="navbar">Log Out</div>
              </div>
            </a
          ></nav> 


    <div class="wrappermain">
      <div class="wrapper">
      <a href="patients">Patients </a>
      <a href="conditions">Conditions </a>
      <a href="medications">Medications </a>
      <a href="invoice">Billing </a>
      </div>
      </div>
  

