<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1400, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/homepage.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff"> -->

<input type="hidden" id="anPageName" name="page" value="homepage" />
<div class="container-center-horizontal">
  <div class="homepage screen">
    <div class="flex-row">
      <div class="overlap-group2">
        <div class="doc-docs valign-text-middle poppins-semi-bold-black-32px">DocDocs</div>
        <img class="image-2" src="img/image-2@2x.png" alt="image 2" />
      </div>
      <a href="sign-in-page.html" class="align-self-flex-end">
        <div class="button-primary-with-icon">
          <div class="frame-1">
            <div class="button-name valign-text-middle poppins-semi-bold-white-16px">Log Out</div>
          </div>
        </div>
      </a>
    </div>
    <div class="flex-row-1 poorstory-normal-black-40px">
      <div class="overlap-group1">
        <div class="patients valign-text-middle">Patients</div>
      </div>
      <h1 class="title valign-text-middle">Conditions</h1>
      <div class="medications valign-text-middle">Medications</div>
      <div class="billing valign-text-middle">Billing</div>
    </div>
    <div class="flex-row-2">
      <div class="overlap-group">
        <div class="rectangle-1"></div>
        <a href="patients.html"><img class="image-4" src="img/image-4.png" alt="image 4" /> </a>
      </div>
      <div class="overlap-group3">
        <a href="conditions.html"><img class="image-1" src="img/image-1.png" alt="image 1" /> </a>
      </div>
      <a href="medications.html"><img class="rectangle-3" src="img/rectangle-3.png" alt="Rectangle 3" /> </a><a
        href="billing.html"><img class="image-5" src="img/image-5.png" alt="image 5" /> </a>
    </div>
  </div>
</div>

