

    
      <div class="wrappermain">
      <div class="wrapper">

        <form class="form" id="signin-form">
        
        
        
          <div class="input-with-label">
            
              <input
                  
                  class="input"
                  id="medication-search"
                  name="medication"
                  placeholder="Medication Name"
            
                />
              
               
                <button class="btn btn-primary my-1" type="submit" id="signin-form">Search for Medications</button>
              
              </div>
          
      
    
        </form>

        <form class="form" id="signin-form">
            
            <div class="input">
              <input 
                
                  class="input"
                  id="medication-name"
                  name="medication"
                  placeholder="Medications"
                  type="text"
                
                />
              </div>
            
          
          
            <div class="input">
              <input 
                
                  class="input"
                  id="medication-description"
                  name="description"
                  placeholder="Description"
                  type="text"
                  
                
                />
                
            <div class="input">
              <input 
                
                  class="input"
                  id="usage-type"
                  name="usage"
                  placeholder="Usage information"
                  type="text"
                
                />
              </div>
            </div>
          
          
            <div class="input">
              <input 
                
                  class="input"
                  id="treatment-name"
                  name="treatment"
                  placeholder="Treatment"
                  type="text"
                
                />
              </div>
            
            <button class="btn btn-primary my-1" type="submit" id="signup-form">Create Medication</button>

          {{!-- Add to patient --}}

          </form>
           <form class="form" id="signin-form">
        
        
        <div class="input-dropdown">
          <div class="input-with-label">
            
            <input
          class="input"
                  id="medication-name"
                  name="medication-name"
                  placeholder="Medication Name"
                  type="text"
            
            />
            
        <div class="input-dropdown">
          <div class="input-with-label">
            
            <input
          class="input"
                  id="patient-name"
                  name="patient-name"
                  placeholder="Patient Name"
                  type="text"
            
            />
              
               
                <button class="btn btn-primary my-1" type="submit" id="signin-form">Add to Patients</button>
  </body>
</html>
