<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" /> -->
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    <!-- <meta name="viewport" content="width=1400, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/patients.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/launchpad-static/launchpad.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff"> -->
    {{!-- <input type="hidden" id="anPageName" name="page" value="patients" />
    <div class="container-center-horizontal">
      <div class="patients screen">
        <div class="flex-row">
          <div class="overlap-group5">
            <div class="doc-docs valign-text-middle poppins-semi-bold-black-32px">DocDocs</div>
            <img class="image-2" src="img/image-2@2x.png" alt="image 2" />
          </div>
          <h1 class="title inter-medium-orient-40px">Patients Database</h1>
          <a href="sign-in-page.html" class="align-self-flex-center">
            <div class="button-primary-with-icon">
              <div class="frame-1">
                <div class="button-name valign-text-middle poppins-semi-bold-white-16px">Log Out</div>
              </div>
            </div></a
          >
        </div> --}}
        {{!-- <div class="flex-row-1">
          <div class="overlap-group1">
            <div class="rectangle-5"></div>
            <a href="#asset-44">
              <div class="input-dropdown-menu">
                <div class="menu-items inter-normal-mirage-16px">
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text inter-normal-mirage-16px">Phoenix Baker</div></div>
                  </div>
                  <div class="input-dropdown-menu-item-1">
                    <div class="content"><div class="text">Olivia Rhye</div></div>
                    <img class="check" src="img/check.svg" alt="check" />
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Lana Steiner</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Demi Wilkinson</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Candice Wu</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Drew Cano</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Orlando Diggs</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Andi Lane</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Kate Morrison</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Koray Okumus</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Ava Wright</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Eve Leroy</div></div>
                  </div>
                  <div class="input-dropdown-menu-item">
                    <div class="content"><div class="text">Zahir Mays</div></div>
                  </div>
                </div>
              </div></a
            > --}}

            <form class="form" id="signin-form">
            <div class="rectangle-5"></div>
            <div class="input-with-label">
              <input 
                
                  class="input poppins-medium-jaguar-16px"
                  id="patient-search"
                  name="patient"
                  placeholder="Search Patient"
                
                />
                <img class="icon-search-1" src="img/search.svg" alt="icon-search" />
                <button class="button-name valign-text-middle" type="submit" id="signin-form">Search for Patients</button>
              </div>
            </div>
          </div>
          </form>

         {{!-- create patient --}}

            <form class="form" id="signin-form">
            <div class="rectangle-5"></div>
            <div class="input">
              <input 
                
                  class="input poppins-medium-jaguar-16px"
                  id="patient-name"
                  name="patient"
                  placeholder="Patient name"
                  type="text"
                
                />
              </div>
            </div>
          </div>
          <div class="rectangle-5"></div>
            <div class="input">
              <input 
                
                  class="input poppins-medium-jaguar-16px"
                  id="date-of-birth"
                  name="text"
                  placeholder="Date of Birth"
                  type="text"
                  
                
                />
                <div class="rectangle-5"></div>
            <div class="input">
              <input 
                
                  class="input poppins-medium-jaguar-16px"
                  id="patient-invoice"
                  name="invoice"
                  placeholder="Invoice"
                  type="text"
                
                />
              </div>
            </div>
          </div>
          <div class="rectangle-5"></div>
            <div class="input">
              <input 
                
                  class="input poppins-medium-jaguar-16px"
                  id="patient-name"
                  name="notes"
                  placeholder="Notes"
                  type="text"
                
                />
              </div>
            </div>
          </div>
          <div class="button-primary-with-icon"></div>
          <button class="button-name valign-text-middle" type="submit" id="signup-form">Create Patient</button>

          </form>

          {{!-- Placeholder spot --}}

          <div>Temporary</div>



            
            
          
          {{!-- <div class="asset-container">
            <a href="#rectangle-6"><img class="asset-44" id="asset-44" src="img/asset-44.svg" alt="Asset 44" /> </a
            ><a href="#rectangle-8"><img class="asset-47" src="img/asset-47.svg" alt="Asset 47" /> </a
            ><a href="#rectangle-9"><img class="asset-48" src="img/asset-48.svg" alt="Asset 48" /> </a
            ><a href="#rectangle-10"><img class="asset-49" src="img/asset-49.svg" alt="Asset 49" /> </a
            ><a href="#rectangle-11" class="align-self-flex-end"
              ><img class="asset-45" src="img/asset-45.svg" alt="Asset 45" /> </a
            ><a href="#rectangle-12"><img class="asset-50" src="img/asset-50.svg" alt="Asset 50" /> </a>
          </div>
          <div class="flex-col poorstory-normal-black-16px">
            <div class="overlap-group2">
              <div class="rectangle-6" id="rectangle-6"></div>
              <div class="phone-number-215-123-4567 valign-text-middle">Phone number: 215-123-4567</div>
              <p class="date-of-birth-01011960 valign-text-middle date-of-birth">
                &nbsp;&nbsp;Date of Birth: 01/01/1960
              </p>
              <p class="date-of-birth-01011960 valign-text-middle date-of-birth">Date of Birth: 01/01/1960</p>
              <p class="date-of-birth-01011960 valign-text-middle date-of-birth">Date of Birth: 01/01/1960</p>
              <p class="address-1 valign-text-middle address-3">Address: 123 Street St. Philadelphia, PA 19019</p>
              <div class="name-phoenix-baker valign-text-middle">Name: Phoenix Baker</div>
              <div class="insurance-medicare valign-text-middle insurance">Insurance: Medicare</div>
              <div class="insurance-medicare valign-text-middle insurance">Insurance: Medicare</div>
              <div class="insurance-medicare valign-text-middle insurance">Insurance: Medicare</div>
            </div>
            <div class="overlap-group3">
              <div class="rectangle-8" id="rectangle-8"></div>
              <div class="date-of-birth-02051980 valign-text-middle date-of-birth">Date of Birth: 02/05/1980</div>
              <p class="address valign-text-middle address-3">Address: 123 Street St. Philadelphia, PA 19019</p>
              <div class="name valign-text-middle">Name:Olivia Rhye</div>
              <div class="phone-number-817-123-4569 valign-text-middle">Phone Number: 817-123-4569</div>
              <div class="insurance-none valign-text-middle insurance">Insurance:None</div>
            </div>
            <div class="overlap-group4">
              <div class="rectangle-9" id="rectangle-9"></div>
              <p class="address valign-text-middle address-3">Address: 459 Baker St. New York, NY 10001</p>
              <div class="phone-number-658-558-5145 valign-text-middle">Phone number: 658-558-5145</div>
              <div class="name valign-text-middle">Name: Lana Steiner</div>
              <div class="date-of-birth-05251978 valign-text-middle date-of-birth">Date of Birth: 05/25/1978</div>
              <div class="insurance-medicaid valign-text-middle insurance">Insurance: Medicaid</div>
            </div>
            <div class="overlap-group">
              <div class="rectangle-10" id="rectangle-10"></div>
              <div class="name-demi-wilkinson valign-text-middle">Name: Demi Wilkinson</div>
              <div class="date-of-birth-12312001 valign-text-middle date-of-birth">Date Of Birth: 12/31/2001</div>
              <p class="address-2 valign-text-middle address-3">Address: 95 Chill St. Brooklyn, NY 11204</p>
              <div class="phone-number-459-545-5666 valign-text-middle">Phone number: 459-545-5666</div>
              <div class="insurance-fidelis valign-text-middle insurance">Insurance: Fidelis</div>
            </div>
            <div class="rectangle-11" id="rectangle-11"></div>
            <div class="rectangle-12" id="rectangle-12"></div>
          </div>
        </div>
      </div>
    </div> --}}
  </body>
</html>
