

        <div class="wrappermain">
        <div class="wrapper">
            <form class="form" id="signin-form">
            
            <div class="input-with-label">
              <input 
                
                  class="input"
                  id="patient-search"
                  name="patient"
                  placeholder="Search Patient"
                
                />
                
                <button class="btn btn-primary my-1" type="submit" id="signin-form">Search for Patients</button>
              </div>
            
         
          </form>

         {{!-- create patient --}}
            
            
          <form class="form" id="signin-form">
            
            <div class="input">
              <input 
                
                  class="input"
                  id="patient-name"
                  name="patient"
                  placeholder="Patient name"
                  type="text"
                
                />
              </div>
            
          
          
          <div class="input">
              <input 
                
                  class="input"
                  id="date-of-birth"
                  name="text"
                  placeholder="Date of Birth"
                  type="text"
                  
                
                />
                
            </div>
                
          <div class="input">
              <input 
                
                  class="input"
                  id="patient-invoice"
                  name="invoice"
                  placeholder="Invoice"
                  type="text"
                
                />
              </div>
            
          
          
          <div class="input">
              <input 
                
                  class="input"
                  id="patient-name"
                  name="notes"
                  placeholder="Notes"
                  type="text"
                
                />
              </div>
            
          
          <div class="button-primary-with-icon"></div>
          <button class="btn btn-primary my-1" type="submit" id="signup-form">Create Patient</button>
          
          

        </form>

        
      </div>
      </div>
      </div>
        
  </body>
</html>
