

        <div class="wrappermain">
        <div class="wrapper">
            <div class="form" id="signin-form">
            
            <div class="input">
              <div class="mb3">
                <input 
                  class="form-control"
                  id="patient-search"
                  name="patient"
                  placeholder="Search Patient"
                />
                
                
              </div>
            </div>
            <div id="alert" class="text-danger text-sm"></div>
            <button class="btn btn-primary my-1" type="submit" id="search-patients">Search for Patients</button>
            
         
          </div>

         {{!-- create patient --}}
            
            
          <div class="form">
            
            <div class="input">
              <div class="mb3">
                <input 
                
                  class="form-control"
                  id="patient-name"
                  name="patient"
                  placeholder="Patient name"
                  type="text"
                
                />
              </div>
            </div>
            
          
          
            <div class="input">
              <div class="mb3">
                <input 
                
                  class="form-control"
                  id="date-of-birth"
                  name="text"
                  placeholder="Date of Birth"
                  type="text"
                  
                
                />
              </div>
            </div>
                
            <div class="input">
              <div class="mb3">
                <input 
                
                  class="form-control"
                  id="patient-invoice"
                  name="invoice"
                  placeholder="Invoice"
                  type="text"
                
                />
              </div>
            </div>
            
          
          
            <div class="input">
              <div class="mb3">
                <input 
                
                  class="form-control"
                  id="patient-notes"
                  name="notes"
                  placeholder="Notes"
                  type="text"
                
                />
              </div>
            </div>
            
          
          
            <button class="btn btn-primary my-1" type="submit" id="create-patient">Create Patient</button>
          
          

          </div>

        
      </div>
      <div id="patient-data"> 
        </div>


    </div>
    <script src="patients.js"></script>
  </body>
      
        
  </body>
</html>
