{{!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" /> --}}
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    {{!-- <meta name="viewport" content="width=1446, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/sign-in-page.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff"> --}}
    <input type="hidden" id="anPageName" name="page" value="sign-in-page" />
    <div class="container-center-horizontal">
      {{!-- <form class="sign-in-page screen" name="form2"> --}}
        <div class="overlap-group1">
          <div class="bg">
            <div class="overlap-group">
              <div class="mask-group">
                <img class="shape" src="img/shape.svg" alt="shape" />
                <img class="welcome-to-doc-docs" src="img/welcome-to-docdocs.svg" alt="Welcome to DocDocs" />
                <img class="shape-1" src="img/shape-1.svg" alt="shape" />
                <img class="bg-1" src="img/bg.png" alt="BG" />
              </div>
              <div class="title">
                <h1 class="title-1">Login</h1>
                <div class="create-account">Create Account</div>
              </div>
            </div>
            {{!-- Create sign up form with inputs 
            inside form button of submit 
            event listener on button in javascript that when you click the button - grab email/username and password --}}

          </div>



        
          
          {{!-- Sign in --}}
          <form class="form" id="signin-form">
          <div class="input-with-label">
            <div class="input">
              <div class="content">
                <input 
                
                  class="password poppins-medium-jaguar-16px"
                  id="password-signin"
                  name="password"
                  placeholder="Password"
                  type="password"
                  required
                />
              </div>
            </div>
          </div>
          <div class="input-with-label-1 input-with-label-6">
            <div class="input">
              <div class="content">
                <input 
                  class="text poppins-medium-jaguar-16px"
                  id="email-signin"
                  name="text"
                  placeholder="Email address"
                  type="email"
                  required
                />
              </div>
            </div>
            <div class="frame-5">
              <a href="javascript:SubmitForm('form2')">
                <div class="button-primary-with-icon-1">
                  <div class="frame-1"><button class="button-name valign-text-middle" type="submit" id="signin-form">Sign in</button></div>
                </div></a
              >
            </div>
          </div>
          </form>


          {{!-- Sign up --}}
          <form class="form" id="signup-form">
          <div class="input-with-label-2 input-with-label-6">
            <div class="input">
              <div class="content">
                <input
                  class="text-1 poppins-medium-jaguar-16px"
                  id="license-signup"
                  name="text"
                  placeholder="License Number"
                  type="number"
                  required
                />
              </div>
            </div>
          </div>
          <div class="input-with-label-3 input-with-label-6">
            <div class="input">
              <div class="content">
                <input
                  class="text-2 poppins-medium-jaguar-16px"
                  id="email-signup"
                  name="text"
                  placeholder="Email address"
                  type="email"
                  required
                />
              </div>
            </div>
          </div>
          <div class="input-with-label-4 input-with-label-6">
            <div class="input">
              <div class="content">
                <input
                  class="text-3 poppins-medium-jaguar-16px"
                  id="username-signup"
                  name="text"
                  placeholder="First & Last Name"
                  type="text"
                  required
                />
              </div>
            </div>
          </div>
          <div class="input-with-label-5 input-with-label-6">
            <div class="input">
              <div class="content">
                <input
                  class="create-password poppins-medium-jaguar-16px"
                  id="password-signup"
                  name="createpassword"
                  placeholder="Password"
                  type="password"
                  required
                />
              </div>
            </div>
          </div>
          <div class="frame-3">
              <a href="javascript:SubmitForm('form2')"> 
                <div class="button-primary-with-icon">
                  <div class="frame-1"><button class="button-name valign-text-middle" type="submit" id="signup-form">Sign Up</button></div>
                </div></a
              >
            </div>
        </div>
      </form>
    </div>

    <script src="/login.js"></script>
   
  </body>
</html>
