
    <div class="wrappermain">
    <div class="wrapper">  
      <h2 class="headerCreate">Sign in</h2> 
          {{!-- Sign in --}}
          <form class="form signin-form">
          
            <div class="input">
              <div class="mb3">
                <input 
                
                  class="form-control"
                  id="password-signin"
                  name="password"
                  placeholder="Password"
                  type="password"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="mb3">
                <input 
                  class="form-control"
                  id="email-signin"
                  name="text"
                  placeholder="Email address"
                  type="email"
                  required
                />
              </div>
            </div>
            
              
                
                  <button class="btn btn-primary my-1 signin-form" type="submit" id="signin-form">Sign in</button>
                </a>
            
          
          </form>
          </div>

          <div class="wrapper"> 
            <h2 class="headerCreate">Create Account</h2>
          {{!-- Sign up --}}
          <form class="form singup-form" id="signup-form">
         
            <div class="input">
              <div class="mb3">
                <input
                  class="form-control"
                  id="license-signup"
                  name="text"
                  placeholder="License #"
                  type="number"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="mb3">
              
                <input 
                  type="email" 
                  class="form-control" 
                  id="email-signup"
                  placeholder="Email address"
                  name="text"
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="mb3">
                <input
                  class="form-control"
                  id="username-signup"
                  name="text"
                  placeholder="First & Last Name"
                  type="text"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="mb3">
                <input
                  class="form-control"
                  id="password-signup"
                  name="createpassword"
                  placeholder="Password"
                  type="password"
                  required
                />
              </div>
            </div>
          
          
              
                
                  <button class="btn btn-primary my-1 signup-form" type="submit">Sign Up</button>
                
              
            
          </form>
    </div>
    </div>
    

    
   <script src="/login.js"></script>
  


