
    <div class="wrappermain">
    <div class="wrapper">
    
             
              <div class="title">
                <h1 class="title-1">Login</h1>
                
              </div>
            
            

         



        
          
          {{!-- Sign in --}}
          <form class="form signin-form">
          
            <div class="input">
              <div class="content">
                <input 
                
                  class="password"
                  id="password-signin"
                  name="password"
                  placeholder="Password"
                  type="password"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="content">
                <input 
                  class="text"
                  id="email-signin"
                  name="text"
                  placeholder="Email address"
                  type="email"
                  required
                />
              </div>
            </div>
            
              
                
                  <div class="frame-1"><button class="btn btn-primary my-1 signin-form" type="submit" id="signin-form">Sign in</button></div>
                </a
              >
            
          
          </form>


          {{!-- Sign up --}}
          <form class="form singup-form">
         
            <div class="input">
              <div class="content">
                <input
                  class="text-1"
                  id="license-signup"
                  name="text"
                  placeholder="License Number"
                  type="number"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="content">
                <input
                  class="text-2"
                  id="email-signup"
                  name="text"
                  placeholder="Email address"
                  type="email"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="content">
                <input
                  class="text-3"
                  id="username-signup"
                  name="text"
                  placeholder="First & Last Name"
                  type="text"
                  required
                />
              </div>
            </div>
          
          
            <div class="input">
              <div class="content">
                <input
                  class="create-password"
                  id="password-signup"
                  name="createpassword"
                  placeholder="Password"
                  type="password"
                  required
                />
              </div>
            </div>
          
          
              
                
                  <div class="frame-1"><button class="btn btn-primary my-1 signup-form" type="submit" id="signup-form">Sign Up</button></div>
                
              
            
      </form>
    </div>
    </div>
    </div>

    
   
  </body>
</html>
