/* screen - homepage */

.homepage {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1003px;
  padding: 9px 12px;
  width: 1400px;
}

.homepage .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 1023px;
  height: 64px;
  min-width: 1372px;
}

.homepage .overlap-group2 {
  height: 54px;
  position: relative;
  width: 220px;
}

.homepage .button-primary-with-icon {
  align-items: center;
  align-self: flex-end;
  background-color: var(--ebony-clay);
  border-radius: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 57px;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 129px;
}

.homepage .frame-1 {
  align-items: center;
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: -1.50px;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.homepage .button-name {
  letter-spacing: -0.20px;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.homepage .flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: 49px;
  margin-top: 44px;
  min-width: 1168px;
}

.homepage .overlap-group1 {
  align-items: flex-start;
  background-color: var(--romance);
  display: flex;
  height: 49px;
  min-width: 271px;
  padding: 6px 55px;
}

.homepage .patients {
  -webkit-text-stroke: 1px #ff0000c9;
  height: 34px;
  letter-spacing: -0.20px;
  line-height: 28px;
  text-align: right;
  width: 140px;
}

.homepage .title {
  -webkit-text-stroke: 1px #190ac2;
  align-self: flex-end;
  height: 41px;
  letter-spacing: -0.20px;
  line-height: 28px;
  margin-bottom: 1px;
  margin-left: 41px;
  text-align: right;
  text-shadow: 0px 4px 4px #00000040;
  width: 212px;
}

.homepage .medications {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  margin-left: 170px;
  margin-top: 1.0px;
  min-width: 167px;
  text-align: right;
  white-space: nowrap;
}

.homepage .billing {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  margin-bottom: 7.0px;
  margin-left: 223px;
  min-width: 84px;
  text-align: right;
  white-space: nowrap;
}

.homepage .flex-row-2 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-right: 17.99px;
  margin-top: 22px;
  min-width: 1272px;
}

.homepage .overlap-group {
  align-self: flex-start;
  height: 647px;
  position: relative;
  width: 277px;
}

.homepage .rectangle-1 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  border: 1px solid;
  border-color: var(--black);
  height: 645px;
  left: 0;
  position: absolute;
  top: 2px;
  transform: rotate(0.07deg);
  width: 276px;
}

.homepage .image-4 {
  cursor: pointer;
  height: 647px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 271px;
}

.homepage .overlap-group3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  margin-left: 69px;
  min-width: 238px;
}

.homepage .image-1 {
  cursor: pointer;
  height: 659px;
  margin-left: -1px;
  margin-top: -1px;
  object-fit: cover;
  width: 238px;
}

.homepage .rectangle-3 {
  cursor: pointer;
  height: 654px;
  margin-left: 91px;
  object-fit: cover;
  width: 233px;
}

.homepage .image-5 {
  cursor: pointer;
  height: 656px;
  margin-left: 104px;
  width: 260px;
}
