/* screen - patients */

.patients {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 19px;
  height: 1003px;
  padding: 9px 12px;
  width: 1400px;
}

.patients .flex-row {
  align-items: flex-start;
  display: flex;
  height: 82px;
  min-width: 1372px;
}

.patients .overlap-group5 {
  height: 54px;
  position: relative;
  width: 220px;
}

.patients .title {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 299px;
  min-width: 349px;
  white-space: nowrap;
}

.patients .button-primary-with-icon {
  align-items: center;
  align-self: center;
  background-color: var(--ebony-clay);
  border-radius: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 57px;
  justify-content: center;
  margin-bottom: 11.0px;
  margin-left: 375px;
  padding: 16px;
  position: relative;
  width: 129px;
}

.patients .frame-1 {
  align-items: center;
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: -1.50px;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.patients .button-name {
  letter-spacing: -0.20px;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.patients .flex-row-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 849px;
  margin-right: 14.0px;
  min-width: 1264px;
}

.patients .overlap-group1 {
  align-self: flex-start;
  height: 217px;
  position: relative;
  width: 356px;
}

.patients .rectangle-5 {
  background-color: var(--romance);
  height: 49px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 271px;
}

.patients .input-dropdown-menu {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: #f2f3f6;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -2px #10182808 , 0px 12px 16px -4px #10182814;
  cursor: pointer;
  display: flex;
  height: 320px;
  left: 36px;
  overflow: hidden;
  position: absolute;
  top: 134px;
  width: 320px;
}

.patients .menu-items {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: -260.00px;
  padding: 4px 0px;
  position: relative;
}

.patients .input-dropdown-menu-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  padding: 10px 14px;
  position: relative;
}

.patients .content {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  position: relative;
}

.patients .text {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.patients .input-dropdown-menu-item-1 {
  align-items: center;
  align-self: stretch;
  background-color: #f8f9fb;
  display: flex;
  gap: 8px;
  padding: 10px 14px;
  position: relative;
}

.patients .check {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.patients .input {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--perfume);
  border-radius: 8px;
  box-shadow: 0px 0px 0px 4px #f4ebff , 0px 1px 2px #1018280d;
  display: flex;
  gap: 8px;
  left: 36px;
  overflow: hidden;
  padding: 10px 14px;
  position: absolute;
  top: 54px;
  width: 320px;
}

.patients .icon-search-1 {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.patients .asset-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 109px;
  min-height: 817px;
  width: 155px;
}

.patients .asset-44 {
  cursor: pointer;
  height: 114px;
  margin-right: 5.0px;
  width: 140px;
}

.patients .asset-47 {
  cursor: pointer;
  height: 117px;
  margin-right: 1.0px;
  margin-top: 12px;
  width: 132px;
}

.patients .asset-48 {
  cursor: pointer;
  height: 126px;
  margin-left: 5.0px;
  margin-top: 8px;
  width: 126px;
}

.patients .asset-49 {
  cursor: pointer;
  height: 120px;
  margin-right: 5.0px;
  margin-top: 35px;
  width: 132px;
}

.patients .asset-45 {
  align-self: flex-end;
  cursor: pointer;
  height: 112px;
  margin-right: 4px;
  margin-top: 29px;
  width: 133px;
}

.patients .asset-50 {
  cursor: pointer;
  height: 123px;
  margin-top: 21px;
  width: 155px;
}

.patients .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  margin-left: 64px;
  min-height: 800px;
  width: 580px;
}

.patients .overlap-group2 {
  height: 112px;
  margin-right: 6.0px;
  position: relative;
  width: 574px;
}

.patients .rectangle-6 {
  background-color: #98ceec;
  border-radius: 20px;
  height: 111px;
  left: 9px;
  position: absolute;
  top: 1px;
  width: 565px;
}

.patients .phone-number-215-123-4567 {
  height: 28px;
  left: 14px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 64px;
  white-space: nowrap;
}

.patients .date-of-birth-01011960 {
  left: 0;
  top: 22px;
  width: 168px;
}

.patients .address-1 {
  left: 14px;
  top: 43px;
}

.patients .name-phoenix-baker {
  height: 20px;
  left: 16px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 125px;
}

.patients .insurance-medicare {
  left: 14px;
  top: 83px;
}

.patients .overlap-group3 {
  height: 115px;
  margin-left: 3.0px;
  margin-top: 13px;
  position: relative;
  width: 565px;
}

.patients .rectangle-8 {
  background-color: var(--white);
  border-radius: 20px;
  height: 111px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 565px;
}

.patients .date-of-birth-02051980 {
  left: 5px;
  top: 26px;
}

.patients .address {
  left: 5px;
  top: 45px;
}

.patients .name {
  height: 28px;
  left: 13px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.patients .phone-number-817-123-4569 {
  height: 28px;
  left: 5px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 66px;
  white-space: nowrap;
}

.patients .insurance-none {
  left: 6px;
  top: 86px;
}

.patients .overlap-group4 {
  height: 113px;
  margin-left: 3.0px;
  margin-top: 27px;
  position: relative;
  width: 565px;
}

.patients .rectangle-9 {
  background-color: #97cdec;
  border-radius: 20px;
  height: 112px;
  left: 0;
  position: absolute;
  top: 0;
  width: 565px;
}

.patients .phone-number-658-558-5145 {
  height: 28px;
  left: 4px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 66px;
  white-space: nowrap;
}

.patients .date-of-birth-05251978 {
  left: 7px;
  top: 24px;
}

.patients .insurance-medicaid {
  left: 13px;
  top: 85px;
}

.patients .overlap-group {
  height: 109px;
  margin-left: 9.0px;
  margin-top: 41px;
  position: relative;
  width: 559px;
}

.patients .rectangle-10 {
  background-color: var(--white);
  border-radius: 20px;
  height: 108px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 559px;
}

.patients .name-demi-wilkinson {
  height: 28px;
  left: 17px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.patients .date-of-birth-12312001 {
  left: 7px;
  top: 25px;
}

.patients .address-2 {
  left: 6px;
  top: 42px;
}

.patients .phone-number-459-545-5666 {
  height: 28px;
  left: 7px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  top: 59px;
  white-space: nowrap;
}

.patients .insurance-fidelis {
  left: 11px;
  top: 77px;
}

.patients .rectangle-11 {
  background-color: #98ceec;
  border-radius: 20px;
  height: 104px;
  margin-left: 9.0px;
  margin-top: 28px;
  width: 559px;
}

.patients .rectangle-12 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 20px;
  height: 98px;
  margin-top: 40px;
  width: 568px;
}

.patients .address-3 {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
}

.patients .date-of-birth {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
}

.patients .insurance {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
}
