:root { 
  --black: #000000;
  --desert-storm: #f8f8f8;
  --jaguar: #080814;
  --text: #ffffff;
 
  --font-size-l: 52px;
  --font-size-m: 16px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-jaguar-16px {
  color: var(--jaguar);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
