* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: beige;
}

.title {
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
}

.wrapper {
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  text-align: center;
  border: 1px 1px black;
  /* background-color: white; */
  width: 400px;
  height: 600px;
  padding: 5px;
  top: -30vh;
}

.wrapper a {
  text-decoration: none;
  background-color: aquamarine;
  border: 1px 1px black;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
}

.content input {
  border-radius: 3px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar {
  display: block;
  padding: 8px;
  background-color: green;
}

.button-name {
  font-size: large;
}

.button-name:hover {
  background-color: gray;
  cursor: pointer;
  color: white;
}
